li {
  position: relative;
  display: inline-block;

  transition: transform 300ms;
  cursor: pointer;
}

li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: 2px;
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 350ms;
}

li:hover {
  transform: scale(1.13);
}

li:hover::after {
  transform: scaleX(1);
}

li:active {
  transform: scale(0.99);
  transition: transform 300ms;
}
