@media (min-width: 768px) {
  
  li {
    position: relative;
    display: inline-block;
  
    transition: transform 300ms;
    cursor: pointer;

    transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
  
  li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    border-radius: 2px;
    height: 3px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 350ms;
  }
  
  li:hover {
    transform: scale(1.02);
  }
  
  li:hover::after {
    transform: scaleX(1);
  }
  
  li:active {
    transform: scale(0.99);
  }

 }
