.submitButton{
  transition: transform .3s;
}

.submitButton:active{
  scale: .98;
}


.carousel{
  animation: slide 30s linear infinite; 
}

.card{
  margin: 0 10px;
}

.carousel:hover{
  animation-play-state: paused;
}


@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* @keyframes slide-reverse {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

@media (min-width: 768px) {
  .carousel:nth-child(even) {
    animation: slide-reverse 30s linear infinite
  }
} */