.submitButton{
  transition: transform .3s;
}

.submitButton:active{
  scale: .98;
}

.carousel-container {
  position: relative;
  width: 200%;
  overflow: hidden;
}


.carousel{
  animation: slide 40s linear infinite; 
}

/* .carousel > div:hover + .carousel {
  animation-play-state: paused;
} */


@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}